.LabelCell{
    background-color:#f3f4f4;border:1px solid #e4e4e4;border-left:0;border-right:0;padding-right: 8px !important;
}
.LabelCell>span{font-weight:500 !important;font-size:14px;}   

.DataCell{    
    border:1px solid #e4e4e4;border-left:0;border-right:0;
    padding:0 8px !important
}
.Bold{
    font-weight:bold !important;
}
.Font16{
    font-size:16px;
}
.Font15{
    font-size:15px;
}
.Font14{
    font-size:14px;
}
.RightZone{
    float: right;
}
.paddingbody{
    padding : 20px 32px;
}
.sapUiSmallMargin{
    margin : 0px !important;
}
.centerAlign{
    text-align: center !important;
    vertical-align : middle !important;
}
.L2P13FontCustom{
    font-weight:bold !important;
    color:#0070bd !important;
}
.app-content-container-mobile .vbox-form-mobile{
    display:inline;
}
.right-custom{
    position: fixed !important;
    top: 6px !important;
    right: 1rem !important;
}
.sapMLabel.sapMLabelRequired .sapMLabelColonAndRequired:after{
    font-size:17px !important;
}
.sapMLabel{
    width:100% !important;
}

.sapMCbRo .sapMCbBg, .sapMSlt {border-color:#c3c3c3 !important}
