@charset "utf-8";

.search-field-group .sapUiHiddenPlaceholder+.sapMFlexItem .sapMLabel {margin-left:0; margin-right:0} /* HASS search-field-group의 대상자 뒤에 나오는 신청일/출장기간에만 적용 */
.action-buttons {z-index:1; position:absolute; right:40px; top:20px}
.field-min-width-50 .sapMInputBaseContentWrapper {min-width:250px !important; width:250px !important}
.field-min-width-50 .sapMInputDescriptionWrapper {max-width:calc(100% - 250px) !important; width:calc(100% - 250px) !important}
.field-min-width-100px .sapMInputBaseContentWrapper {min-width:100px !important; width:100px !important}
.field-min-width-100px .sapMInputDescriptionWrapper {max-width:calc(100% - 100px) !important; width:calc(100% - 100px) !important}
.sapMMsgStripIcon~.sapMMsgStripMessage {margin-top:0; margin-left:1.4rem}
.custom-checkbox {height:31px; line-height:31px}
.custom-checkbox.sapMCb:focus::before {height:26px !important; top:2px !important}
.custom-checkbox .sapMCbBg {top:5px}
.custom-select-time.sapMSltWithArrow>.sapMSltLabel, .custom-select-time.sapMSltWithArrow .sapMSelectListItemBase {padding:0 0.625rem}
.custom-select-time .sapMSltArrow {width:auto; padding:0 0.625rem}
.textarea-row {height: 122px}
[data-sap-ui-browser="ie11"] .textarea-row {height: 131px}
.line-height-31px {line-height:31px}
.mnw-400px {min-width:400px}
.mnw-1000px {min-width:1000px}
.mnw-1188px {min-width:1188px}
.visibility-hidden {visibility:hidden}
.mutant-flexbox-table {box-sizing:border-box; border-top:1px solid #c3c3c3; border-left:1px solid #c3c3c3}
.mutant-flexbox-table * {box-sizing:border-box}
.mutant-flexbox-table .sapMFlexItem:not(.sapMFlexBox) {height:40px; border-right:1px solid #c3c3c3; border-bottom:3px solid #c3c3c3; line-height:37px}
.mutant-flexbox-table .sapMFlexItem:not(.sapMFlexBox):nth-child(odd) {border-right:0}
.mutant-flexbox-table .flexbox-table-cell {width:100%; padding:0 8px; background-color:#f3f4f6}
.mutant-flexbox-table .flexbox-table-header {width:100%; padding:0 8px; font-weight:500 !important; background-color:#f3f4f6}
[data-sap-ui-browser="ie11"] .mutant-flexbox-table .sapMFlexItem:not(.sapMFlexBox) {height:40px !important}
.button-light-sm.color-signature-orange .sapMBtnIcon {color:#ffb400 !important}
.custom-dialog-popup.lcc-map-dialog-popup .sapMDialogScrollCont {padding:0}
.custom-dialog-popup.lcc-map-dialog-popup .search-box {box-sizing:border-box}
.lcc-map {flex-grow:1; height:100%; overflow:hidden}
.marker-choice {font-size:40px; color:#000}
.marker-departure {font-size:40px; color:#da291c}
.marker-destination {font-size:40px; color:#064975}