@charset "utf-8";
/*
------------------------------------------------------------
Project Name: L2P CO., LTD
file name: l2p.css
Author: jihee,kim
date: 2015.01.22 
------------------------------------------------------------*/

 .sapMITBContent{
	background-color:#ffffff; !important;
	position : relative;
	padding : 0; !important;
	border-bottom : 0px solid !important;
}
.sapMITBFilterDefault{
	color :#999999 ;
	border-color : #999999;
}
.sapMITBSelected .sapMITBFilterDefault{
/*	background-color:#999999 !important; */
/*	background :#999999 !important; */
}

.sapMListTbl th {
    background: #d9d9d9;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e9e9e9;
}

.sapMITBSelected.sapMITBFilterDefault>.sapMITBContentArrow{
	border-bottom-color : #999999;
}

.sapMITBFilterPositive{
	color : #F0AB00;
	border-color : #F0AB00;
}
.sapMITBSelected .sapMITBFilterPositive{
	background-color:#F0AB00;
	background :#F0AB00;
}
.sapMITBSelected.sapMITBFilterPositive>.sapMITBContentArrow{
	border-bottom-color : #F0AB00;	
}
.sapMITBFilterNeutral{
	color : #00B050;
	border-color : #00B050;
}
.sapMITBSelected .sapMITBFilterNeutral{
	background-color:#00B050;
	background :#00B050;
}
.sapMITBSelected.sapMITBFilterNeutral>.sapMITBContentArrow{
	border-bottom-color : #00B050;
}
.sapMITBFilterNegative{
	color : #CC1919;
	border-color : #CC1919;
}
.sapMITBSelected .sapMITBFilterNegative{
	background-color:#CC1919;
	background :#CC1919;
}
.sapMITBFilterCritical{
	color : #009DE0;
	border-color : #009DE0;
}
.sapMITBSelected .sapMITBFilterCritical{
	background-color:#009DE0;
	background :#009DE0;
}
.sapMITBSelected.sapMITBFilterCritical>.sapMITBContentArrow{
	border-bottom-color : #4F81BD;
}

.sapUiBody{
 	font-size: 13Px !important;   
	font-family: 'Malgun Gothic' !important;
}
.sapMSLITitle{
	font-size: 0.875rem !important;  
	font-family: 'Malgun Gothic' !important;
	color : #009DE0;
}

/* sap.m.Button�� ���� ũ�⸦ ���� */
.sapMBtnInner {
	font-size: 0.875rem !important;  
    font-family: 'Malgun Gothic' !important;
}

/* sap.m.IconTabBar �� �ּ�ũ�⸦ �����Ѵ� */
.sapMITBFilter .sapMITBText {
	min-width: 4rem !important;
}

.sapMITBTab {
	min-width: 3rem !important;
}
.sapMITBFilter {
	padding: 0 1.25rem;
}
/* sap.m.IconTabBar TextOnly �⺻���� */
.sapMITBTextOnly .sapMITBText {
	text-align: left; 
    font-family: 'Malgun Gothic' !important;
    line-height: 1rem !important; 
/* 	font-size : 16px !important; */
/* 	font-weight : bold !important; */
}

/* sap.m.Table�� Header(TH)�� Border Bottom ���� */
/* .sapMListTbl th { */
/* 	border-bottom: 2px solid #009DE0;  */
/* } */

/* sap.m.Panel�� ���, Padding ���� ���� */
.sapMPanelContent {
	padding: 0.5rem !important;
	border-bottom: 0px solid #e5e5e5 !important;
}
.sapMPanelBG {
	background-color: transparent !important;
}

/* sap.m.Label�� �⺻ Font�� ���� */
/* .sapMLabel { */
/*  	font-size: 13Px !important;    */
/*     font-family: 'Malgun Gothic' !important; */
/* } */

.sapMSlt>.sapMSltLabel {
	font-size: 0.875rem !important;  
    font-family: 'Malgun Gothic' !important;
}

/* sap.ui.commons.TimelineItem�� User �ʵ� �Ҽ����� */
.sapSuiteUiCommonsTimelineItemShellUser {
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
	font-weight: bold !important;
	color: #009DE0;
}

/* sap.ui.commons.TimelineItem�� ��Ÿ �ʵ� �Ҽ����� */
.sapSuiteUiCommonsTimelineItemShellHdr {
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
}
.sapSuiteUiCommonsTimelineItemShellDateTime {
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
}
.sapSuiteUiCommonsTimelineItemShellBody {
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
}

/* sap.m.Input�� Font ������ */
.sapMInputBaseInner {
	font-family: 'Malgun Gothic' !important;
	font-size: 0.875rem !important;
}
/* sap.m.Input�� Disabled ���� */
.sapMInputBaseDisabled {
	opacity: 0.8 !important;
}


/* sap.ui.unified.FileUploader�� ��ư */
.sapUiBtnS.sapUiBtnNorm {
	border: 0px solid #bfbfbf !important;
	width: 100% !important;
	font-color : #ffffff !important; 
	font-weight: bold !important;
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
	cursor:pointer !important;
    background-color: transparent !important;
}
 
/*
.sapUiBtnS.sapUiBtnNorm {
 	border: 0px solid #bfbfbf !important; 
 	background-color: transparent !important; 
	font-family: 'Malgun Gothic' !important;
	font-size: 13px !important;
 	cursor:pointer !important; 
}
*/

/* sap.m.Select �� Disabled ���� */
li.sapMSltItemDisabled, .sapMSltDisabled {
	opacity: 0.8 !important;
}

/* sap.m.Page�� background image gradient */
.sapUiUfdShellBackground, .sapMGlobalBackgroundColor {
/* 	background-color: #f2f2f2; */
/* 	background-image: -moz-linear-gradient(top,#dff2f3 0,#dcecf0 50%,#dde4eb 100%); */
/* 	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dff2f3),color-stop(50%,#dcecf0),color-stop(100%,#dde4eb)); */
/* 	background-image: -webkit-linear-gradient(top,#dff2f3 0,#dcecf0 50%,#dde4eb 100%); */
/* 	background-image: -ms-linear-gradient(top,#dff2f3 0,#dcecf0 50%,#dde4eb 100%); */
/* 	background-image: linear-gradient(to bottom,#efefef 0,#e9e9e9 50%, #e1e1e1 100%) !important; */
}

/* sap.m.StandardListItem�� Description ��Ʈ ���� */
.sapMSLIDescription {
	font-size: 0.875rem !important;
	color: #666666;
}

/* sap.m.Toolbar�� ù��° Element�� margin�� 0���� �����Ѵ�. */ 
.sapMIBar .sapMBarChild:first-child {
  margin-left: 0rem !important;
}

/* sap.m.RadiButton�� Left Padding ���� 1.875���� �����Ѵ�. */
.sapMRbG .sapMRbBLabel {
  padding-left: 1.875rem !important;
}

/* sap.m.MultiInput�� ���� ũ�� 13px���� �����Ѵ�. */
.sapMToken {
	font-size: 13Px !importasnt;  
    font-family: 'Malgun Gothic' !important;
}

/* IconTabBar�� ���õ� ���� �Ʒ� ���� ���� ����  */
.sapMITBTextOnly>.sapMITBFilter>.sapMITBText + .sapMITBContentArrow {
  height: 0.75rem !important;
}

/* sap.suite.ui.commons.BUsinessCard�� Border�� ������. */
.suiteUiCard {
  border: solid #dddddd 0px !important;
}

/* sap.m.Panel �� Expanded=true�϶� Border-bottom line ���� */
.sapMPanelWrappingDivTb {
  border-bottom: 0px solid #cccccc !important;
}

/* sap.ui.common.TextView�� Positive Color ���� */
.sapUiTvSucc {
  color: #009DE0 !important;
}

/* sap.m.Popover�� Title�� ���ڸ� Bold�� ���� */
.sapMPopover>.sapMPopoverHeader>.sapMBarMiddle>.sapMBarPH>.sapMLabel {
  font-weight: bold !important;
}

/* sap.m.Toolbar�� ������ ��Ʈ�� ����(����Ʈ) ���� */
.sapMIBar>.sapMBarChild:last-child {
  margin-right: 0 !important;
}

.sapMSLITitleOnly {
  font-size: 0.875rem !important;  
}

.sapMListBGTranslucent .sapMListTblHeader, .sapMListBGTranslucent .sapMListTblFooter, .sapMListBGTranslucent .sapMLIB.sapMListTblRow {
  background-color: rgba(255,255,255,1) !important;
}

/*sap.suite.ui.commons.BusinessCard �� Second Title Font ���� */
.suiteUiCardDesc {
    font-family: 'Malgun Gothic' !important;
}

/*sap.m.Switch �� Font �� Text ���� */
.sapMSwtLabel {
	font-size: 13px !important;
	text-transform: none !important;
}	

.sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnContent {
    font-size: 14px !important;
    font-weight: bold !important;
}
.sapUxAPAnchorBar .sapUxAPAnchorBarButton .sapMBtnContent {
    font-size: 13px !important;
    font-weight: normal !important;
}

/* .sapUxAPObjectPageSectionHeader { */
/*     font-size: 13px !important; */
/* } */

/* .sapUxAPObjectPageSectionHeader { */
/*     line-height: 2rem !important; */
/*     height: 2rem !important; */
/*     margin-bottom: 0.5rem !important; */
/* } */

.sapUxAPObjectPageSubSection {
    margin-top: 0.5rem !important;
}

.sapUxAPObjectPageLayout {
    position: relative !important;
}

.sapMPanelBGTranslucent {
    background-color: transparent !important;
}

.sapUiTable:not(.sapUiTableVScr) .sapUiTableColHdrScr .sapUiTableCol:last-child{
	border-right : 1px solid #dddddd !important;
}

.sapUxAPObjectPageSectionTitle{
/* 	border-bottom : 0px !important; */
	font-size: 1.1rem !important;
}









.sapUiMedia-Std-Desktop .sapUxAPObjectPageHeaderContent{
	padding-left : 10px !important;
}

html.sapUiMedia-Std-Desktop .sapUxAPAnchorBar.sapMTB, html.sapUiMedia-Std-Desktop .sapMSplitContainer.sapMSplitContainerHideMode .sapMSplitContainerDetail .sapUxAPAnchorBar.sapMTB{
	padding-left : 0px !important;
}

/* .sapUiRespGrid.sapUiRespGridHSpace1>div{ */
/* 	margin : 0px !important; */
/* } */

.sapUxAPObjectPageSubSectionHeader{
	padding : 1rem 0 0 0.5rem !important;
}

.sapUiRespGrid.sapUiRespGridHSpace1{
	padding : 0px !important;
}

.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin, .sapUiResponsiveMargin{
	margin : 0px !important;
}

.sapUxAPObjectPageSubSectionHeaderTitle{
	font-size : 0.875rem !important;
	font-family: 'Malgun Gothic' !important;
}

.sapUxAPObjectPageContainer, .sapUxAPObjectPageContainer + div, .sapUxAPObjectPageHeaderDetailsHidden{
	background-color : #ffffff !important;
}

.sapMITBAll{
	width : 95px;
	font-size : 0.875rem;
	font-family: 'Malgun Gothic' !important;
}

/* IconFilterTabbar Filter ���� ����*/
.sapMITBFilter{
	margin-left : 50px !important;
	margin-right : 40px !important;
}

.sapUiSizeCompact .sapMToken{
	font-size : 0.875rem !important ; 
	font-family: 'Malgun Gothic' !important;
}

.sapUiSizeCompact .sapMTokenIcon{
	font-size : 0.875rem !important ;
	line-height : 1.3rem !important;
}

.sapMListTblCell.cellBorderRight {
	border-right: 1px solid #e9e9e9;
/* 	border-top : 1px solid #e9e9e9; */
}

.sapMListTblCell.cellBorderLeft {
	border-left: 1px solid #e9e9e9;
}

.sapMListTblCell.sapMListTblCellNoData {
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
}

.sapUxAPObjectPageSubSection {
    border-bottom: 0 solid #f2f2f2 !important;
}

/* .sapUiTableCol{ */
/* 	border-right : 1px solid #dddddd !important; */
/* } */

/* .sapMPage>section{ */
/* 	position : initial !important; */
/* } */