/* .LabelCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
    background : #f3f4f6;
}
.DataCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
} */

.LabelCell{
    background-color:#f3f4f4;
    border:1px solid #e4e4e4;
    padding: 0 8px !important;
    font-weight:500 !important;
}
.LabelCell.LabelCellBg {background-color:#f9f9f9;}
.LabelCell.totalLine, .DataCell.totalLine {border-top:2px solid #c3c3c3; border-bottom:1px solid #c3c3c3}
.DataCell{
    border:1px solid #e4e4e4;    
    padding:0 8px !important;
}
.border-left-no {border-left:0;}
.LabelCell:first-child {border-left:0}
.LabelCell:last-child, .DataCell:last-child {border-right:0}
.sapMTBStandard {border-bottom:none;}
.sapMPanelContent {margin-top:-10px}

.Bold{
    font-weight:bold !important;
}
.Font16{
    font-size:16px;
}
.Font15{
    font-size:15px;
}
.Font14{
    font-size:14px;
}
.RightZone{
    float: right;
}
.righter{
    float: right;
}
.paddingbody{
    padding : 10px;
}

.sapUiSmallMargin{
    margin : 0px !important;
}
.centerAlign{
    text-align: center !important;
    vertical-align : middle !important;
}
.L2P13FontCustom{
    font-weight:bold !important;
    color:#0070bd !important;
}
.busyDialog{
    width:320px !important;
}
.sapMListTblCnt{
    border-top : 1px solid white !important;
}
.Red{
    color:red !important;
}
.Blue{
    color:#0070bd !important;
    font-size:14px !important;
}
.msgBox{
    padding:10px !important;
    line-height:1.8;
    background-color: #fffac4;
    border:1px solid #f0bf11;
    font-size:14px;
    color:#333;
}
.search-field-group .sapMFlexItem .sapMLabel:not(.sapMCbLabel){
    text-align:left !important;
}