.LabelCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
    background : #f3f4f6;
}
.DataCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
}
.Bold{
    font-weight:bold !important;
}
.Font16{
    font-size:16px;
}
.Font15{
    font-size:15px;
}
.Font14{
    font-size:14px;
}
.RightZone{
    float: right;
}
.righter{
    float: right;
}
.paddingbody{
    padding : 10px;
}
.sapUiSmallMargin{
    margin : 0px !important;
}
.centerAlign{
    text-align: center !important;
    vertical-align : middle !important;
}
.L2P13FontCustom{
    font-weight:bold !important;
    color:#0070bd !important;
}
.busyDialog{
    width:320px !important;
}
.right-custom{
    position: fixed !important;
    top: 6px !important;
    right: 1rem !important;
}
.height38px{
    height:38px !important;
    padding-top:4px;
}
.height42px{
    height:42px !important;
    padding-top:4px;
}
.med-subtitle {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 500; 
    padding:8px 0 8px 8px ; 
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    background-color:#f4f5f6 ;
}
.Blue{
    color:#0070bd !important;
    font-size:14px !important;
}