.LabelCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
    background : #f3f4f6;
}
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication01 { background-color: rgb(127,127,127) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication02 { background-color: rgb(255,255,0) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication03 { background-color: rgb(255,0,0) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication04 { background-color: rgb(255,192,0) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication05 { background-color: rgb(0,176,80) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication06 { background-color: rgb(106,247,230) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication07 { background-color: rgb(255,0,255) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication08 { background-color: rgb(128,0,0) !important; }
.sapUiTableRowHighlight.sapUiTableRowHighlightIndication09 { background-color: rgb(0,112,192) !important; }
.custom-legend-color.Indication01 { background-color: rgb(127,127,127) !important; }
.custom-legend-color.Indication02 { background-color: rgb(255,255,0) !important; }
.custom-legend-color.Indication03 { background-color: rgb(255,0,0) !important; }
.custom-legend-color.Indication04 { background-color: rgb(255,192,0) !important; }
.custom-legend-color.Indication05 { background-color: rgb(0,176,80) !important; }
.custom-legend-color.Indication06 { background-color: rgb(106,247,230) !important; }
.custom-legend-color.Indication07 { background-color: rgb(255,0,255) !important; }
.custom-legend-color.Indication08 { background-color: rgb(128,0,0) !important; }
.custom-legend-color.Indication09 { background-color: rgb(0,112,192) !important; }
.DataCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
}
.Bold{
    font-weight:bold !important;
}
.NumBold{
    font-weight:bold !important;
    color: blue;
}
.BtNone{
    border-top: none;
}
.Font16{
    font-size:16px;
}
.Font15{
    font-size:15px;
}
.Font14{
    font-size:14px;
}
.RightZone{
    float: right;
}
.MSGBox{
    background-color:rgb(205 227 245 / 46%);
    border:1px solid #4b4b4b; 
    border-radius:.1875rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
}