.LabelCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
    background : #f3f4f6;
}
.DataCell{
    border : 1px solid #d8dadf;
    padding : 4px !important;
}
.Bold{
    font-weight:bold !important;
}
.Font16{
    font-size:16px;
}
.Font15{
    font-size:15px;
}
.Font14{
    font-size:14px;
}
.RightZone{
    float: right;
}
.border-bottom {border-bottom:1px solid #e4e4e4}
.border-top {border-top:1px solid #e4e4e4}
.custom-dialog-popup.custom-ojt .search-field-group .sapMFlexItem .sapMLabel:not(.sapMCbLabel) {margin-left: 0;margin-right:8px}