html, body {height:100%; overflow:hidden}
html *:not(.sapUiIcon):not(i) {font-family:NotoSansKR !important}
body {min-width:576px; font-size:14px}
[device="mobile"] body, body.under-construction {min-width:100%}

.font-preload {color:transparent}
.font-preload-100 {font-weight:100}
.font-preload-300 {font-weight:300}
.font-preload-400 {font-weight:400}
.font-preload-500 {font-weight:500}
.font-preload-700 {font-weight:700}
.font-preload-900 {font-weight:900}

.menu-spinner-wrapper {position:absolute; z-index:18; display:flex; justify-content:center; align-items:center; width:100%; height:100%; background:rgba(0, 0, 0, 0.16)}
.menu-spinner {display:block; top:calc(50% - 4px); left:calc(50% - 4px)}

.ehr-header {position:relative; width:100%; padding:0; margin:0; border-bottom:1px solid #ccc}
.ehr-header .navbar {padding:0 30px}
.ehr-header .ehr-logo-container {height:46px}
[device="mobile"] .ehr-header .ehr-logo-container {height:3.5625rem}
body.under-construction .ehr-header .ehr-logo-container {justify-content:space-between; height:5.625rem}
.ehr-header .ehr-logo {position:absolute; top:15px; left:40px; width:92px; height:62px; background:url('../../images/w-hihr-smile.png') no-repeat}
[device="mobile"] .ehr-logo {position:static; margin:.5625rem 0 .375rem 0; width:3.9375rem; height:2.625rem; background:url('../../images/hihr-smile.png') no-repeat; background-size:3.9375rem 2.625rem}
body.under-construction .ehr-logo {position:static; margin:0}
.ehr-header .custom-select-locale {margin-top:-2px; height:auto; border:0; font-size:14px; color:#777; background:#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23777777' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px; cursor:pointer}
.ehr-header .container-fluid {min-height:46px; padding-left:0; padding-right:0}

.header-toggle {z-index:1; position:absolute; color:#777; font-size: 1.375rem}
.header-toggle.header-toggle-up {right:30px; bottom:0}
.header-toggle.header-toggle-down {display:none; top:0; right:10px}
.header-toggle a {padding:0 1rem}
.header-toggle i {color:#777}
.header-toggle i:hover {color:#064975}

.ehr-gnb {justify-content:center}
.ehr-gnb .mega-menu {position:absolute; margin-top:0; min-height:10rem; border:0; border-top:5px solid transparent; border-radius:0; padding:0 0 1rem 0; box-shadow:0 3px 3px rgba(0,0,0,0.16); background-color:#f9f9f9; overflow-y:auto}
.ehr-gnb > ul {font-size:1.25rem; font-weight:700}
[locale="en_US"] .ehr-gnb > ul {font-size:1.15rem}
.ehr-gnb > ul > li {border-bottom:4px solid transparent; padding:0 20px;margin:0 1px}
.ehr-gnb > ul > li:hover {border-bottom:4px solid #6e6e6e}
.ehr-gnb > ul > li.active {border-bottom:4px solid #064975}
.navbar-light .navbar-nav .active>.nav-link {color:#064975}
.ehr-gnb > ul > li.active a.active {color:#064975}

.ehr-snb {max-width:1440px}
.ehr-snb.col-count-1 {width:calc(240px * 1)}   
.ehr-snb.col-count-2 {width:calc(240px * 2)}
.ehr-snb.col-count-3 {width:calc(240px * 3)}
.ehr-snb.col-count-4 {width:calc(240px * 4)}
.ehr-snb.col-count-5 {width:calc(240px * 5)}
.ehr-snb.col-count-6 {width:calc(240px * 6)}
.ehr-snb > [class*="col"] {margin:1rem 0; min-width:240px; max-width:240px; width:240px; flex-basis:240px}
.navbar-light .navbar-nav.ehr-popup-menu li {padding:0 8px}
.navbar-light .navbar-nav.ehr-popup-menu .nav-link {color:#777}
.navbar-light .navbar-nav.ehr-popup-menu .nav-link:hover {color:#333}
.navbar-light .navbar-nav .nav-link {color:#333}
.col-mega-menu .list-unstyled {padding-left:10px}
.col-mega-menu > a {padding:1rem .5rem; font-size:1rem; font-weight:700; white-space:normal}
.col-mega-menu > a:hover{color:#064975 !important}
.col-mega-menu li {display:flex; align-items:center; margin-top:.5rem; font-size:.875rem; font-weight:400}
.col-mega-menu li + li {margin-top:1rem}
.col-mega-menu li a {margin-left:5px; color:#666; white-space:normal}
.col-mega-menu .navbar .nav-link {padding:1rem 0rem}
.col-mega-menu .navbar .nav-link a:hover, .col-mega-menu .navbar .nav-link a.active, .col-mega-menu li a:hover, .col-mega-menu li a.active {color:#064975; text-decoration:none; font-weight:500}
.col-mega-menu i {font-size:.75rem; color:#064975; cursor:pointer}
.col-mega-menu i.far.fa-star {color:#b2b2b2}
.menu-mss > .nav-link, .menu-mss .col-mega-menu li a, .menu-mss .menu-link-item {color:#783936 !important}
.menu-hass > .nav-link, .menu-hass .col-mega-menu li a, .menu-hass .menu-link-item {color:#137826 !important}

.ehr-body {position:relative; overflow-y:hidden}
.ehr-body .container-fluid {height:100%}
[device="mobile"] .ehr-body .container-fluid {overflow-y:auto}
.ehr-body .container-fluid iframe {width:100%; height:100%; border:0}
.ehr-body .jspPane {width:100% !important; min-height:100%}
.ehr-body .jspHorizontalBar {display:none; left:0 !important}
.ehr-body.menu-loaded .jspPane, .ehr-body.menu-loaded .container-fluid {height:100%}
.ehr-body.menu-loaded .container-fluid {padding:0}
.ehr-body.menu-loaded .jspVerticalBar {display:none}

.mobile-notice-modal ol > li {margin-top:.7rem}
.mobile-notice-modal ul > li {margin-top:.3rem}

.portlet-masonry {padding-bottom:1.5rem}
.portlet-col {flex-basis:412px; min-width:412px; width:412px}
[device="mobile"] .portlet-col {min-width:100%}
.portlet {margin-top:1.5rem; width:100%; border:1px solid #e8e9e9; border-radius:8px; box-shadow:rgba(0, 0, 0, 0.16) 0 3px 6px}
[device="mobile"] .portlet {margin-top:.75rem}
.portlet .card-header {display:flex; justify-content:space-between; height:4.25rem; cursor:move; border-bottom:0}
[device="mobile"] .portlet .card-header {height:3.25rem; padding:.125rem 1.25rem}
.portlet .card-header h6 {margin-bottom:0; line-height:3rem; font-size:1rem; font-weight:700}
.portlet .card-header div {display:flex; align-items:center}
.portlet .card-header button {border:0; padding:0; line-height:1; font-size:1.5rem; font-weight:700; text-shadow:0 1px 0 #fff; color:#000; opacity:.5; background-color:transparent; -webkit-appearance:none; -moz-appearance:none; appearance:none; padding-left:5px}
.portlet .card-header button + button {margin-left:1rem}
.portlet .card-header button span {font-size:1.125rem; color:#333}
.portlet .list-group .jspVerticalBar {width:8px}
.portlet .list-group .list-group-item.data-not-found {border:0; text-align:center; background-color:#fff; color:#495057; cursor:default}
.portlet-0h {height:auto}
.portlet-1h {height:206px}
.portlet-2h {height:calc((206px * 2) + (1.5rem * 1))}
.portlet-3h {height:calc((206px * 3) + (1.5rem * 2))}
.portlet-4h {height:calc((206px * 4) + (1.5rem * 3))}
.portlet-5h {height:calc((206px * 5) + (1.5rem * 4))}
.portlet-6h {height:calc((206px * 6) + (1.5rem * 5))}
.portlet-7h {height:calc((206px * 7) + (1.5rem * 6))}
.portlet-8h {height:calc((206px * 8) + (1.5rem * 7))}
.portlet-9h {height:calc((206px * 9) + (1.5rem * 8))}

.portlet-carousel {margin-top:.75rem; padding-bottom:1.5rem}
.portlet-carousel .nav-tabs .nav-link {border-radius:0;border:0;font-size:1rem;color:#777}
.portlet-carousel .nav-tabs .nav-link.active {border-bottom:4px solid #064975;color:#064975;font-weight:500}
.portlet-carousel .carousel-indicators {margin:0}
.portlet-carousel .carousel-indicators li {width:.5rem;height:.5rem;border-radius:50%;background-color:#064975}

.portlet-spinner-background {position:absolute; display:block; top:4.25rem; width:100%; height:calc(100% - 4.25rem); background:rgba(255,255,255,.8)}
.portlet-spinner {display:block; top:4rem; left:calc(50% - 4px)}
.portlet-employee .portlet-spinner-background {z-index:2; top:0; height:100%}
.portlet-employee .portlet-spinner {top:11rem}

.portlet-employee {position:relative; background:#fff url('../../images/employee-information-bg.png') no-repeat right bottom; cursor:pointer}
.portlet-employee .employee-information {display:flex; flex-direction:column; min-width:128px; height:128px; padding:1.25rem 1rem 0 2rem; border-top-right-radius:.5rem; border-top-left-radius:.5rem; background-color:#064975}
.portlet-employee .employee-information * {color:rgba(255, 255, 255, 0.8)}
.portlet-employee .employee-information .employee-name {font-size:1.125rem; color:#fff; font-weight:500; letter-spacing:0.5px; padding-bottom:.25rem}
[device="mobile"] .portlet-employee .employee-information .employee-name {font-size:1rem}
.portlet-employee .employee-information div:nth-of-type(2) {line-height:1.2}
.portlet-employee .employee-information div:nth-of-type(3) {width:225px; line-height:1.2; padding-top:.25rem}
[device="mobile"] .portlet-employee .employee-information div:nth-of-type(2) {width:70%}
[device="mobile"] .portlet-employee .employee-information div:nth-of-type(3) {width:70%}
.portlet-employee .employee-photo {display:flex; justify-content:center; position:absolute; top:61px; right:20px; width:90px; height:135px; overflow:hidden; background-color:#fff}
[device="mobile"] .portlet-employee .employee-photo {width:66px; height:99px} 
.portlet-employee .employee-photo img {z-index:1; height:100%}
.portlet-employee .employee-photo.nobody {background-color:#f2f2f2}
.portlet-employee .employee-photo.nobody img {top:7%; left:15%; width:100%}
.portlet-employee .employee-photo svg {position:absolute; top:-1px; left:-1px; z-index:2; width:calc(100% + 2px); height:calc(100% + 2px)}
.portlet-employee .employee-d-day {display:flex; flex-direction:column; padding:1.5rem 1.25rem 1.25rem}
.portlet-employee .employee-d-day .title {font-size:1rem; font-weight:700}
.portlet-employee .employee-d-day h6 {margin-top:1.5rem; margin-bottom:0; padding-left:.75rem; font-size:.875rem; font-weight:400}
.portlet-employee .employee-d-day h6:nth-of-type(2) {margin-top:1.25rem; width:280px}
.portlet-employee .employee-d-day .cdays {color:#064975}
.portlet-employee .employee-d-day .odays {color:#8dc63f}
.portlet-employee .employee-d-day .d-day {font-size:2rem; font-weight:400; padding-left:.75rem}
.portlet-employee .employee-d-day .odays .d-day {font-size:2.5rem; font-weight:700}
[device="mobile"] .portlet-employee {background:none}
[device="mobile"] .portlet-employee .employee-photo {top:1rem; left:auto; right:1rem;background-image: none;}
[device="mobile"] .portlet-employee .employee-information {width:100%; height:130px; border-radius:.5rem; padding-left:1.5rem; background-color:#064975}
[device="mobile"] .portlet-1h.portlet-employee {height:130px}

.portlet-bbs .list-group {height:100%; overflow:auto}
.portlet-bbs .list-group-item {border:0; padding:.5rem .625rem .5rem 0}
.portlet-bbs .list-group-item:hover {color:#0070bd; background:transparent}
.portlet-bbs-item {display:flex; justify-content:space-between; align-items:center; width:100%}
.portlet-bbs-item .portlet-bbs-date {font-size:100%; color:#888; padding-right:.5rem}
.portlet-bbs-title {display:flex; align-items:center; width:239px}
[device="mobile"] .portlet-bbs-title {width:221px}
.portlet-bbs-title .portlet-bbs-title-text {display:inline-block; max-width:190px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.portlet-bbs-title span + span, .portlet-bbs-title span + i {margin-left:3px}
.portlet-bbs-title i {vertical-align:middle; font-size:1.1rem}
.portlet-bbs .badge {font-weight:500}
.portlet-bbs .badge-pill {padding-left:.25rem; padding-right:.25rem; border-radius:.25rem}
.portlet-bbs .badge.badge-primary {font-weight:500; background-color:#0070BD} 
.portlet-bbs i.fas.fa-exclamation-circle {color:#cc1919}

.portlet-quick-link button[disabled] {color:#777}
.portlet-quick-link button[disabled] i{color:rgba(0,0,0,.4)}
.portlet-quick-link-box {display:flex; justify-content:space-between; align-items:center; height:100%}
.portlet-quick-link-box > div {position:relative; width:25%; margin:0 2px}
.portlet-quick-link-box .btn {padding:0 .25rem; width:62px; height:62px; border-radius:20px; background-color:#ebf5fe; color:#064975; letter-spacing:-0.5px; line-height:1.2; word-break:keep-all;/*overflow: hidden;*/border-color: transparent}
.portlet-quick-link-box .btn-remove {display:none; position:absolute; z-index:1; top:0; left:0; font-weight:400; background:rgba(0,0,0,.20)}
.portlet-quick-link-box .btn-remove i {position:absolute; top:-.5rem; right:-.25rem; font-size:1.25rem; color:#999; background-color:#f9f9f9; border-radius:50%}
.portlet-quick-link-box .btn span {font-size:.9rem; overflow:hidden; text-overflow:ellipsis}
.portlet-quick-link-box.remove-mode .btn-remove {display:block}

.portlet-favorite-menu .list-group {height:100%; overflow:auto}
.portlet-favorite-menu .list-group-item {border:0; padding:.5rem .625rem .5rem 0}
.portlet-favorite-menu .list-group-item:hover {color:#0070bd; background:transparent}
.portlet-favorite-menu .list-group-item > div {display:inline-block; max-width:315px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}

[device="mobile"] .card-body {padding:1rem}
[device="mobile"] .portlet-calendar .card-body {padding:1rem 0}
.portlet-calendar-inline .ui-datepicker-inline {width:100%}
.portlet-calendar-inline .ui-datepicker-calendar {margin:0 auto; width:322px; border:0; border-spacing:0; table-layout:fixed}
[device="mobile"] .portlet-calendar-inline .ui-datepicker-calendar {width:100%}
.portlet-calendar-inline .ui-datepicker select {height:1.75rem; border:1px solid #c3c3c3; border-radius:.1875rem; padding:.1rem .4rem; margin-right:4px; background:#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.portlet-calendar-inline .ui-datepicker select::-ms-expand {display:none}
.portlet-calendar-inline .ui-datepicker select.ui-datepicker-year {margin-left:1rem; width:4rem}
.portlet-calendar-inline .ui-datepicker select.ui-datepicker-month {width:3.5rem}
[locale="ko_KR"] .portlet-calendar-inline .ui-datepicker select.ui-datepicker-year {margin-left:0}
[locale="ko_KR"] .portlet-calendar-inline .ui-datepicker select.ui-datepicker-month {margin-left:1rem}
.portlet-calendar-inline .ui-datepicker td {width:46px; padding:0}
.portlet-calendar-inline .ui-datepicker td a,
.portlet-calendar-inline .ui-datepicker td span {margin:8px 5px; width:32px; border:0; padding:0; line-height:32px; text-align:center}
.portlet-calendar-inline .ui-datepicker td a.ui-state-default,
.portlet-calendar-inline .ui-datepicker td span.ui-state-default {background:transparent}
.portlet-calendar-inline .ui-datepicker td a.ui-state-active {border-radius:18px; background:#064975 !important}
.portlet-calendar-inline .ui-datepicker td a.ui-state-highlight {border-radius:18px; background:#8dc63f !important; color:#fff; font-weight:500}
.portlet-calendar-inline .ui-datepicker td.holiday a.ui-state-default {color:#f00}
.portlet-calendar-inline .ui-datepicker td.absence a.ui-state-default {border-radius:18px; background:#f6f6f6; background:rgba(141,198,63,.3)}
.portlet-calendar-inline .ui-datepicker td.absence-start a.ui-state-default {margin-right:0; width:41px; border-top-right-radius:0; border-bottom-right-radius:0; padding-right:5px}
.portlet-calendar-inline .ui-datepicker td.absence-between a.ui-state-default {margin-right:0; margin-left:0; width:100%; border-radius:0}
.portlet-calendar-inline .ui-datepicker td.absence-end a.ui-state-default {margin-left:0; width:41px; border-top-left-radius:0; border-bottom-left-radius:0; padding-left:5px}
.portlet-calendar-inline .ui-datepicker td a {margin:6px auto}
[device="mobile"] .portlet-calendar-inline .ui-datepicker td a {margin:4px auto}
.portlet-calendar-inline .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:5px}
.portlet-calendar-inline .ui-datepicker .ui-datepicker-prev {left:14px}
.portlet-calendar-inline .ui-datepicker .ui-datepicker-next {right:14px}
.portlet-calendar-inline .ui-widget.ui-widget-content,.portlet-calendar-inline .ui-widget-header {border:none}
.portlet-calendar-inline .ui-widget-header {background-color:transparent}
.portlet-calendar-inline + .d-flex {justify-content:space-between; align-items:center; margin:1.5rem auto .8rem; width:295px}
[device="mobile"] .portlet-calendar-inline + .d-flex {width:100%;padding:0 1rem;margin-top:1rem}
.portlet-calendar-inline + .d-flex .btn-outline-dark.button-today {border-radius: 20px;background-color: #8dc63f;border:0;color: #fff;padding: .125rem .5rem}
.portlet-calendar-date {margin:0; font-weight:700}
.portlet-calendar-daily-report .list-group-item {width:33.33%; border:0; padding:.5rem 0rem .25rem; text-align:center; cursor:pointer}
.portlet-calendar-daily-report .list-group-item h6 {font-weight:400; font-size:15px; margin-bottom:0; padding-top:.25rem}
.portlet-calendar-daily-report .list-group-item span {font-size:2rem; font-weight:700; color:#064975; letter-spacing:-2px}
.portlet-calendar-daily-report .list-group-item span.unit {font-weight:400; font-size:14px; display:inline-block; padding-left:4px}
.portlet-calendar .tooltip.show {opacity:1}
.portlet-calendar .tooltip .arrow:before {border-bottom-color:#b8cddb; border-top-color:#b8cddb}
.portlet-calendar .tooltip .tooltip-inner {max-width:none; padding:7px; background-color:#ebf5fe; /*box-shadow:rgba(23,25,29,0.3) 0 2px 10px;*/ color:#002D51; font-size:.75rem; border:1px solid #b8cddb}
.portlet-calendar .tooltip .tooltip-inner .portlet-calendar-tooltip {max-height:300px; overflow:hidden}
.portlet-calendar .tooltip .tooltip-inner th {font-weight:400; color:#002D51}
.portlet-calendar .tooltip .tooltip-inner td {font-weight:400; padding:.125rem .375rem}

.portlet-switch {margin-top:.75rem; cursor:pointer}
.portlet-switch.active {border-color:rgba(0,112,189,.7); background-color:#ebf5fe}
.portlet-switch.active.disabled {border-color:rgba(0,0,0,.7); background-color:#e0e0e0; cursor:default}
.portlet-switch .card-body {display:flex; justify-content:space-between; align-items:center}
.portlet-switch .card-body i {margin-right:1rem; font-size:1.25rem; color:rgba(0, 0, 0, 0.2)}
.portlet-switch.active .card-body i {margin-right:1rem; font-size:1.25rem; color:rgba(0, 0, 0, 0.5)}
.custom-switch-reverse {display:inline-block; padding-right:2.25rem; padding-left:0}
.custom-switch-reverse .custom-control-label::before {right:-2.25rem; left:unset}
.custom-switch-reverse .custom-control-label::after {right:calc(-1.5rem + 2px); left:unset}
[data-sap-ui-browser="ie11"] .custom-switch-reverse {padding-right:0}
.modal-open .modal.portlet-switch-modal {overflow:hidden}
.modal-dialog.ui-draggable {top:1.75rem; left:calc(50% - 400px); margin:0}
.modal-dialog.ui-draggable .modal-header {cursor:move}
.portlet-data-not-found {display:flex; flex-direction:column; justify-content:center; align-items:center; padding:30px 0}
.portlet-data-not-found span {padding:0 .5rem; line-height:2; font-size:20px; font-weight:700}
.portlet-data-not-found a {text-decoration:none; color:#777}
.portlet-data-not-found a:hover {color:#333}
.custom-control-input:checked~.custom-control-label::before {background-color:#0070bd; border-color:#0070bd}
.card.portlet-switch {border-radius:.375rem}

.portlet .blue-banner {background-color:#ebf5fe; margin-top:10px; color:#064975; display:flex; justify-content:space-between; align-items:flex-end; padding:15px}
.portlet .blue-banner .blue-banner-title {font-size:.875rem; font-weight:500; padding-bottom:5px}
.portlet .blue-banner .blue-banner-value {font-size:1.625rem; font-weight:700; letter-spacing:-0.5px}

.portlet-worktime .today {display:flex; align-items:flex-end; justify-content:space-between; font-weight:400}
.portlet-worktime .today .title {font-size:.875rem; padding-left:14px; padding-right:5px}
.portlet-worktime .today .state {font-size:1rem; color:#0070bd; letter-spacing:-0.5px}
.portlet-worktime .statusBar {display:flex; flex-direction:column; align-items:center; width:100%; margin-top:25px}
.portlet-worktime .statusBar .progress {border-radius:1rem; background-color:#f0f0f0; height:20px; width:100%; display:flex; position:relative}
.portlet-worktime .statusBar .progress .progress-bar.bg-success {height:100%; position:absolute}
.portlet-worktime .statusBar .bg-success {background-color:#8dc63f !important}
.portlet-worktime .statusBar .hour-unit {display:flex; align-items:center; justify-content:space-between; width:100%}
.portlet-worktime .statusBar .unit {font-size:.6875rem; color:#888; padding-top:5px}
.portlet-worktime .statusBar .progress-line{height:100%; position:absolute; background-color:transparent; border-right:2px solid #333; width:80%}
.portlet-worktime .worktime-list {display:flex; flex-direction:column; width:100%; margin-top:30px}
.portlet-worktime .worktime-list .worktime-type {display:flex; justify-content:space-between; align-items:flex-end; border-bottom:1px solid #f0f0f0; padding:6px 0}
.portlet-worktime .worktime-list .sub-title {font-size:.875rem}
.portlet-worktime .worktime-list .time {font-size:1.125rem; font-weight:500}

.portlet-vacation .vac-header, .portlet-vacation .vac-body {display:flex; justify-content:space-between; padding:6px 8px}
.portlet-vacation .vac-header {background-color:#f3f4f4; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; margin-top:10px}
.portlet-vacation .vac-body {border-bottom:1px solid #f0f0f0}

.portlet-languagescore .table-header, .portlet-languagescore .table-body {display:flex; justify-content:space-between; padding:6px 8px}
.portlet-languagescore .table-header {background-color:#f3f4f4; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; margin-top:10px}
.portlet-languagescore .table-body {border-bottom:1px solid #f0f0f0}
.portlet-languagescore .list-group {height:100%; overflow:auto}
.portlet-languagescore .list-group-item:first-child {margin-top:.25rem;}
.portlet-languagescore .list-group-item {border:0; padding:.5rem 0 .5rem 0}
.portlet-languagescore .list-group-item:hover {color:#0070bd; background:transparent}

.portlet-evalgoal-progress .evalgoal-legend {display:flex; justify-content:flex-end; height:1.1rem; font-size:.75rem}
.portlet-evalgoal-progress .list-group {height:calc(100% - 1.1rem)}
.portlet-evalgoal-progress .evalgoal-area {display:flex; height:auto; margin-bottom:15px}
.portlet-evalgoal-progress .evalgoal-area img {border:1px solid #e4e4e4}

.portlet-evalgoal-progress .evalgoal-info {height:auto; display:flex; flex-direction:column; width:100%; padding:0 20px}
.portlet-evalgoal-progress .evalgoal-info .person {display:flex; justify-content:flex-start; padding:0 0 5px 4px}
.portlet-evalgoal-progress .evalgoal-info .name {font-weight:500; margin-top:auto}
.portlet-evalgoal-progress .evalgoal-info .position {font-size:.75rem; padding-left:5px; padding-bottom:2px; margin-top:auto}

.portlet-evalgoal .evalgoal-statusBar, 
.portlet-evalgoal-progress .evalgoal-statusBar {display:flex; align-items:center; width:100%; padding-top:5px}
.portlet-evalgoal .evalgoal-statusBar .progress,
.portlet-evalgoal-progress .evalgoal-statusBar .progress {display:flex; border-radius:1rem; background-color:#f0f0f0; height:18px; width:100%; font-weight:300 !important}
.portlet-evalgoal .evalgoal-statusBar .progress-bar,
.portlet-evalgoal-progress .evalgoal-statusBar .progress-bar {text-align:right}
.portlet-evalgoal .evalgoal-statusBar .progress .progress-bar.bg-danger,
.portlet-evalgoal-progress .evalgoal-statusBar .progress .progress-bar.bg-danger {padding-right:5px; background-color:#da291c !important}
.portlet-evalgoal .evalgoal-statusBar .progress .progress-bar.bg-warning,
.portlet-evalgoal-progress .evalgoal-statusBar .progress .progress-bar.bg-warning {padding-right:5px; background-color:#ffb400 !important}
.portlet-evalgoal .evalgoal-statusBar .progress .progress-bar.bg-info,
.portlet-evalgoal-progress .evalgoal-statusBar .progress .progress-bar.bg-info {padding-right:5px; background-color:#8dc63f !important}
.portlet-evalgoal .evalgoal-statusBar .progress .progress-bar.bg-success,
.portlet-evalgoal-progress .evalgoal-statusBar .progress .progress-bar.bg-success {padding-right:5px; background-color:#064975 !important}

.portlet-evalgoal .list-group {height:100%}
.portlet-evalgoal .my-evalgoal-info {height:auto; display:flex; flex-direction:column}
.portlet-evalgoal .my-evalgoal-info + .my-evalgoal-info {margin-top:20px}
.portlet-evalgoal .my-evalgoal-info .myList {font-size:14px; height:25px; color:#333}
.portlet-evalgoal .jspScrollable .my-evalgoal-info {margin-right:15px}

.portlet-evalcollfin-popover.popover {max-width:none}
.portlet-evalcollfin-popover {border:1px solid #b8cddb}
.portlet-evalcollfin-popover .arrow::before {border-bottom-color:#b8cddb !important; border-top-color:#b8cddb}
.portlet-evalcollfin-popover .arrow::after {border-bottom-color:#ebf5fe !important}
.portlet-evalcollfin-popover .popover-body {width:300px; border-radius:.3rem; padding:7px; color:#002d51; font-size:.75rem; background-color:#ebf5fe}
.portlet-evalcollfin-popover .popover-body .popover-scroll {max-height:300px; overflow:hidden}
.portlet-evalcollfin-popover .popover-body th {font-weight:400; color:#002d51; text-align:center}
.portlet-evalcollfin-popover .popover-body td {font-weight:400; padding:.125rem .375rem; text-align:center}

.color-lcc-signature-blue {color:#064975 !important}
.color-lcc-signature-green {color:#8dc63f !important}
.color-lcc-signature-red {color:#da291c !important}
.bg-lcc-signature-blue {background-color:#064975 !important}
.bg-lcc-signature-green {background-color:#8dc63f !important}
.bg-lcc-signature-red {background-color:#da291c !important}

@media all and (min-width:499px) {
	.navbar {padding-top:0; padding-bottom:0}
	.navbar .nav-link {padding:.75rem .5rem}
	.navbar .mega-menu {right:0; width:100%; padding:0 30px 20px}
	.navbar-nav {flex-direction:row}
}
@media (min-width:499px) {
	.portlet-masonry-wrapper {width:382px}
}
@media (min-width:992px) {
	.portlet-masonry-wrapper {width:794px}
}
@media (min-width:1200px) {
	.portlet-masonry-wrapper {width:1206px}
}
@media (min-width:499px) and (max-width:1024px) {    
	.ehr-gnb .navbar-nav {padding-top:20px;}
}

/* Modal Style */
.modal-header {padding:2px 25px; background-color:#f4f5f6;border-bottom:1px solid #e4e4e4}
.modal-header .modal-title {line-height:2.75}
.modal-header h4 {font-size:1rem}
.modal-header .close {font-size:2rem;font-weight:400; padding:.25rem; margin:0}
.modal-footer {border-top:1px solid #d9d9d9; padding:0 20px}
.modal-body .btn, .modal-footer .btn {height:36px; border-radius:.1875rem; padding:0 20px; font-size:.875rem} 
.modal-body .btn.btn-primary, .modal-footer .btn.btn-primary {background-color:#0070bd; color:#fff; border:1px solid #0070bd}
.modal-footer .btn.btn-primary:hover {background-color:#064975; border:1px solid #064975}
.modal-footer .btn.btn-light {background-color:#fff; color:#0070bd; border:1px solid #0070bd}
.modal-footer .btn.btn-light:hover {background-color:#ebf5fe}
.mfa-input {margin:0; padding:0; width:50%}
.mfa-timer {margin:0; padding:0; width:20%; text-align:center}
.mfa-timer input {text-align:center}
.mfa-button {margin:0; padding:0; width:30%}
.mfa-button button {width:100%}
[device="mobile"] .mfa-input {width:35%}
[device="mobile"] .mfa-timer {width:20%}
[device="mobile"] .mfa-button {width:45%}

/* Mobile Splash */
.app-wrap.splash {width:100%; height:100%; background:linear-gradient(#f9f9f9, #eaebec); background:-moz-linear-gradient(top, #f8f9f9 70%, #eaebec 100%); background:-webkit-linear-gradient(top, #f8f9f9 70%,#eaebec 100%); background:linear-gradient(top bottom, #f8f9f9 70%,#eaebec 100%)}
.flex-item-sign {margin:auto 0; padding-bottom:2rem; justify-content:center}
.flex-item-logo {padding-bottom:2rem; justify-content:center}

/* Mobile Menu */
.navbar.navbar-mobile .dropdown-toggle, .navbar.navbar-mobile .dropdown-menu a {cursor:pointer}
.navbar.navbar-mobile .dropdown-item.active, .navbar.navbar-mobile .dropdown-item:active {color:inherit; text-decoration:none; background-color:inherit}
.navbar.navbar-mobile .dropdown-item:focus, .navbar.navbar-mobile .dropdown-item:hover {color:#16181b; text-decoration:none; background-color:#f8f9fa; background-color:#f8f9fa}
.navbar.navbar-mobile .navbar-toggler {color:#7f7f7f}
@media all and (min-width:499px) {
	.navbar.navbar-mobile .navbar-nav {flex-direction:column}
}
.navbar.navbar-mobile {height:3.5625rem; border-bottom:1px solid #ccc; font-size:1rem; background-color:#fff !important; padding:0 1rem}
.navbar.navbar-mobile .navbar-brand {padding-top:.5625rem; padding-bottom:.375rem; margin-right:0}
.navbar-mobile .navbar-nav .dropdown-menu {border-radius:0; font-size:1rem; background-color:#fff; border:0; margin:0 -1rem; padding:.5rem 1rem}
.navbar-mobile .navbar-toggler {border:none}
.navbar-mobile .navbar-collapse {position:absolute; z-index:20; top:3.5625rem; left:1rem; width:100%; margin:0 -1rem; padding:0 1rem; background-color:#f7f7f7; border-bottom:1px solid #d2d2d2;}
.navbar-mobile .nav-item {font-weight:700; color:#333} /*1depth*/
.navbar-mobile .navbar-nav .nav-link {padding:.75rem 1rem; margin:0 -1rem; font-size:17px; border-bottom:1px solid #d2d2d2}
.navbar-mobile .navbar-nav .nav-item.dropdown.show .nav-link {border-bottom:none; color:#0854a0}
.navbar-mobile .dropdown-item.dropdown.show .dropdown-toggle {color:#0854a0; font-weight:500}
.navbar-mobile .navbar-nav .active>.nav-link {color:#333}
.navbar-mobile .navbar-nav .nav-link:hover {color:#0854a0}
.navbar-mobile .dropdown-toggle::after {content:' '; display:block; position:absolute; top:1rem; right:0; width:10px; height:10px; border:2px solid #7f7f7f; border-bottom:none; border-left:none; -webkit-transform:rotate(135deg); -ms-transform:rotate(135deg); transform:rotate(135deg);}
.navbar-mobile .nav-item .dropdown-menu li {color:#6e6e6e; font-size:1rem; padding:.5rem 1rem} /*2depth*/
.navbar-mobile .nav-item .dropdown-menu .dropdown-item.dropdown {background-color:#fff} /*2depth 영역*/
.navbar-mobile .nav-item .dropdown-menu .dropdown-item.dropdown .dropdown-toggle::after {top:.75rem}
.navbar-mobile .nav-item .dropdown-menu .dropdown-item.dropdown ul {background-color:#fff; padding:.5rem 0; margin-left:0; margin-right:0} /*3depth 영역*/
.navbar-mobile .nav-item .dropdown-menu .dropdown-item.dropdown li a {color:#777; font-size:1rem; font-weight:400; text-decoration:none} /*3depth*/
.navbar-mobile .nav-item .dropdown-menu .dropdown-item.dropdown li a::before{content:'ㄴ'; font-size:12px; padding-right:6px} 

/* logout btn 생략시 */
.navbar-logo-center {position:fixed;width:100%;text-align: center;margin:0 -1rem;padding:0 1rem}
.navbar-mobile button {z-index: 999;}

/* Mobile 설치안내 */
.app-wrap-download {width:100%; height:100%;padding:2rem;}
.app-wrap-download .flex-item {margin:auto 0; justify-content:center;text-align: center}
.app-wrap-download .flex-item .bi-area {font-size:1rem;text-align: center;margin-bottom:2.5rem;letter-spacing: -0.5px;line-height: 1.2;font-weight:400}
.app-wrap-download .flex-item .bi-area img {width:180px;height:auto;padding-bottom:1rem}
.app-wrap-download .flex-item .btn {background-color:#f8f8f8;border:1px solid #ccc;min-width:230px;padding:1rem;margin: .5rem;border-radius: .5rem;}
.app-wrap-download .flex-item .btn .os-title {display:inline-block;text-align: right;width:160px;font-size: .875rem;font-weight:500;}
.app-wrap-download .flex-item .btn img {width: 30px; height:auto;}
.app-wrap-download .flex-item .android-info {padding-bottom:1rem;}
.app-wrap-download .flex-item .android-info .des {text-align: left;letter-spacing: -0.5px;font-size:.875rem}
.app-wrap-download .flex-item .android-info img {max-width:100%;padding-top:1rem}

/* Error Page */
.custom-system-message {padding:0 3rem }
.custom-system-message img {width:83px;height:auto}
.custom-system-message .title {font-size:2.625rem; font-weight: 700;}
.custom-system-message .message {font-size:1rem; padding-top:2rem;line-height: 1.2;}  